<a href="https://colab.research.google.com/github/Siddhanttambe2/Assignment3/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1  Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
def sum_of_evens(numbers):
    return sum(num for num in numbers if num % 2 == 0)

sum_of_evens(numbers)

12

In [ ]:
#2 Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
def rev(s):
    return s[::-1]
rev("Siddhant")

'tnahddiS'

In [ ]:
#3 Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.

In [ ]:
l = [1,2,3,4,5,6,7,8]
def squ(a):
  for i in a:
    print(i*i)
squ(l)

1
4
9
16
25
36
49
64

In [ ]:
#4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
def is_prime(n):
  if n < 2:
    return False
  for i in range(n):
    if n % i == 0:
      return False
  return True


for i in range(n):
  if is_prime(i):
    print(i)
is_prime(11)

NameError: name 'n' is not defined

In [ ]:
#not able to solve the 4th problem not getting the dry run

In [ ]:
#Q5)Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

In [ ]:
def fib(n):
    a = 0
    b = 1
    for i in range(n):
        yield a
        a, b = b, a+b

In [ ]:
f = fib(100)
f

In [ ]:
next(f)

0

In [ ]:
next(f)

1

In [ ]:
next(f)

1

In [ ]:
next(f)

2

In [ ]:
next(f)

3

In [ ]:
#Q6)Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [ ]:
def square_number_generators(n):
    for i in range(n):
        yield i**2

In [ ]:
gen = square_number_generators(10)

In [ ]:
next(gen)

0

In [ ]:
next(gen)

1

In [ ]:
next(gen)

4

In [ ]:
next(gen)

9

In [ ]:
#Q7)Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
def line(n):
    for i in n:
        yield i
a = line(["Apple",
          "Banana",
          "Potato",
          1,
          2])
next(a)

'Apple'

In [ ]:
next(a)

'Banana'

In [ ]:
next(a)

'Potato'

In [ ]:
next(a)

1

In [ ]:
#Q8)Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [ ]:
tuples_list = [(1, 3), (2, 2), (4, 1)]
sorted_tuples = sorted(tuples_list, key=lambda x: x[1])

print(sorted_tuples)

[(4, 1), (2, 2), (1, 3)]

In [ ]:
#Q9)Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [ ]:
def fer(x):
    return x*9/5 + 32

l = [23,4,6,76]

In [ ]:
list(map(fer,l))

[73.4, 39.2, 42.8, 168.8]

In [ ]:
#Q10)Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [ ]:
s = ["Ajay pwskills data scince"]
vowels = ["a", "e", "i", "o", "u"]
list(filter(lambda x: x not in vowels , s))

['Ajay pwskills data scince']

In [ ]:
#not able to solve problem 10

In [ ]:
#Q11)Write a Python program that returns a list with 2-tuples. Each tuple consists of the order number and the product of the price per item and the quantity.
#The product should be increased by 10,- € if the value of the order is smaller than 100,00 €.

In [ ]:
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

order_summary = list(map(lambda x: (x[0], x[2] * x[3] if x[2] * x[3] >= 100 else x[2] * x[3] + 10), orders))


print(order_summary)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]